doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mobaking: There's only one King
    link(rel='stylesheet', href='../css/flexslider.css', type='text/css', media='screen')
    link(rel='stylesheet', type='text/css', href='../css/style.css', media='screen')
    link(rel='stylesheet', href='../css/prettyPhoto.css', type='text/css', media='screen')
    link(rel='stylesheet', href='../css/supersized.css', type='text/css', media='screen')
    //
      if lt IE 9link(rel='stylesheet', href='css/ie.css', type='text/css', media='screen')
    // MOBILE SETTINGS
    link(rel='stylesheet', href='../css/responsive.css', type='text/css', media='screen')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
      if lt IE 9script(src='js/css3-mediaqueries.js')
    //
      if lte IE 9link(rel='stylesheet', href='css/ie8.css', type='text/css', media='screen')
    //
      if IE 7link(rel='stylesheet', href='css/ie7.css', type='text/css', media='screen')
    link#mediaelementjs-styles-css(rel='stylesheet', href='../css/mediaelementplayer.min.css', type='text/css', media='all')
    script(type='text/javascript', src='../js/comment-reply.min.html')
    script(type='text/javascript', src='../js/jquery.js')
    script(type='text/javascript', src='../js/jquery-migrate.min.html')
    script(type='text/javascript', src='../js/jquery.easing.1.3.js')
    script(type='text/javascript', src='../js/jquery.tools.min.js')
    script(type='text/javascript', src='../js/jquery.flexslider-min.js')
    script(type='text/javascript', src='../js/jquery.prettyPhoto.js')
    script(type='text/javascript', src='../js/jquery.isotope.min.js')
    script(type='text/javascript', src='../js/selectnav.min.js')
    script(type='text/javascript', src='../js/mejs/mediaelement-and-player.min.js')
    script(type='text/javascript', src='../js/supersized.3.2.7.min.js')
    script(type='text/javascript', src='../js/audio.js')
    script(type='text/javascript', src='../js/custom.js')
    script(type='text/javascript', src='../js/init.js')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:700,400,300', rel='stylesheet', type='text/css')
    // custom styles
    link(rel='stylesheet', type='text/css', href='../css/custom.css', media='screen')
    script(type='text/javascript').
      //var worlData = [];
      var historical_data = !{JSON.stringify(data)};
      var game = "#{gameName}";
    script(src='../js/highcharts.js', charset='utf-8')
    script(src='../js/highcharts-3d.js', charset='utf-8')
    script(src='../js/highcharts-more.js' charset='utf-8')
    script(src='../js/exporting.js', charset='utf-8')
    script(src='../js/historicalBubble.js', charset='utf-8')
    script(src='../js/barLineChart.js', charset='utf-8')      
  body.home
    #wrap-wide
    // [/wrap-wide]
    #menu-wrap
      #menu
        a#logo(title='Mobaking: There\'s only one King', href='/')
          img(src='../images/mobaking_logo.png', height='122', width='215', alt='Logo')
        // [/logo]
        #nav.jqueryslidemenu
          ul#menu-main.menu
            li
              a(href='/#{currentGame}/intro')
                | Introduction
                span Learn the game!
            li
              a(href='')
                | Historical Data Analysis
                span Study the past if you would define the future.
              ul.sub-menu
                li
                  a(href='/#{currentGame}/2014') Year 2014
                li
                  a(href='/#{currentGame}/2015') Year 2015
            li
              a(href='/#{currentGame}/future')
                | Future Predictions
                span The future is already here.
            li
              a(href='')
                | World Data
                span Study the trends around the globe.
              ul.sub-menu
                li
                  a(href='/#{currentGame}/world2014') Year 2014  
                li
                  a(href='/#{currentGame}/world2015') Year 2015                    
        .menu-main-container
          ul#main-menu.menu
            li
              a(href='/#{currentGame}/intro')
                | Introduction
                span  Learn the game!
            li
              a(href='')
                | Historical Data Analysis
                span  Study the past if you would define the future.
              ul.sub-menu
                li
                  a(href='/#{currentGame}/2014') Year 2014
                li
                  a(href='/#{currentGame}/2015') Year 2015
            li
              a(href='/#{currentGame}/future')
                | Future Predictions
                span  The future is already here.
            li
              a(href='')
                | World Data
                span Study the trends around the globe.
              ul.sub-menu
                li
                  a(href='/#{currentGame}/world2014') Year 2014  
                li
                  a(href='/#{currentGame}/world2015') Year 2015                    
        span#menu-toggle menu toggle
    // [/menu]
    script(type='text/javascript').
      jQuery(document).ready(function () {
      jQuery.supersized({
      // Functionality
      slide_interval          :   10000,    // Length between transitions
      transition              :   1,      // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
      transition_speed    : 1000,
      keyboard_nav            :   1,
      // Speed of transition
      // Components
      slide_links       : 'blank',  // Individual links for each slide (Options: false, 'num', 'name', 'blank')
      slides          :   [     // Slideshow Images
      {image : '../images/backgrounds/#{currentGame}/1.jpg',  thumb : '../images/backgrounds/#{currentGame}/1.jpg', url : ''} ,
      {image : '../images/backgrounds/#{currentGame}/2.jpg',  thumb : '../images/backgrounds/#{currentGame}/2.jpg', url : ''} ,
      {image : '../images/backgrounds/#{currentGame}/3.jpg',  thumb : '../images/backgrounds/#{currentGame}/3.jpg', url : ''} ,
      {image : '../images/backgrounds/#{currentGame}/4.jpg', thumb : '../images/backgrounds/#{currentGame}/4.jpg', url : ''} ,
      {image : '../images/backgrounds/#{currentGame}/5.jpg', thumb : '../images/backgrounds/#{currentGame}/5.jpg', url : ''}]
      });
      }
      );
    #wrap.clearfix.no-sidebar
      #main
        #entries
          h2.page-title
            | Year 2014 
            span#entries-toggle Toggle
            #breadcrumb
              p.breadcrumb
                span.breadcrumb_info
                a(href='/') Home
                span.arrow  » 
                a(href='/#{currentGame}') #{gameName}
                span.arrow  » 
                a(href='') Historical Data                
                span.arrow  » 
                span.current_crumb  Year 2014
            // [/breadcrumb]
          #entries-box
            .post-item
              .entry
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                #container-area
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                #container-bubble
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                .fix
              // [/entry]
            // [/post-item]
          // [/entries-box]
        // [/entries]
      // [/main]
    // [/wrap]      
    a#scrollup(href='#') Scroll
    // [/scrollup]
    #progress-back.load-item
      #progress-bar
    // [/Time Bar]
    #thumb-tray.load-item
      #thumb-back
      #thumb-forward
    // Slide captions displayed here
    #slidecaption
    #controls-wrap.load-item
      a#nextslide.load-item
      a#play-button
        img#pauseplay(data-retina='true', alt='', src='../images/slider/pause.png')
      a#prevslide.load-item
      p.copyright Powered by Mobaking team. All rights reserved.
      a#tray-button
        img#tray-arrow(data-retina='true', src='../images/slider/button-tray-up.png')
      a#shutdown(href='#') ShutDown
