doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Mobaking: There's only one King
    link(rel='stylesheet', href='css/flexslider.css', type='text/css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')
    link(rel='stylesheet', href='css/prettyPhoto.css', type='text/css', media='screen')
    link(rel='stylesheet', href='css/supersized.css', type='text/css', media='screen')
    //
      if lt IE 9link(rel='stylesheet', href='css/ie.css', type='text/css', media='screen')
    // MOBILE SETTINGS
    link(rel='stylesheet', href='css/responsive.css', type='text/css', media='screen')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
      if lt IE 9script(src='js/css3-mediaqueries.js')
    //
      if lte IE 9link(rel='stylesheet', href='css/ie8.css', type='text/css', media='screen')
    //
      if IE 7link(rel='stylesheet', href='css/ie7.css', type='text/css', media='screen')
    link#mediaelementjs-styles-css(rel='stylesheet', href='css/mediaelementplayer.min.css', type='text/css', media='all')
    script(type='text/javascript', src='js/comment-reply.min.html')
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/jquery-migrate.min.html')
    script(type='text/javascript', src='js/jquery.easing.1.3.js')
    script(type='text/javascript', src='js/jquery.tools.min.js')
    script(type='text/javascript', src='js/jquery.flexslider-min.js')
    script(type='text/javascript', src='js/jquery.prettyPhoto.js')
    script(type='text/javascript', src='js/jquery.isotope.min.js')
    script(type='text/javascript', src='js/selectnav.min.js')
    script(type='text/javascript', src='js/mejs/mediaelement-and-player.min.js')
    script(type='text/javascript', src='js/supersized.3.2.7.min.js')
    script(type='text/javascript', src='js/audio.js')
    script(type='text/javascript', src='js/custom.js')
    script(type='text/javascript', src='js/init.js')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:700,400,300', rel='stylesheet', type='text/css')
    // custom styles
    link(rel='stylesheet', type='text/css', href='/css/custom.css', media='screen')
  body.home
    .social-in-homepage.social-bookmarks
      ul
        li.twitter
          a(target='_blank', href='http://twitter.com/thehighthemes') Twitter
        li.facebook
          a(target='_blank', href='#') Facebook
        li.gplus
          a(target='_blank', href='#') Google Plus
        li.youtube
          a(target='_blank', href='#') YouTube
    // [/social-bookmarks]
    .social-in-page.social-bookmarks.res-social-bookmarks
      ul
        li.twitter
          a(target='_blank', href='http://twitter.com/thehighthemes') Twitter
        li.facebook
          a(target='_blank', href='#') Facebook
        li.gplus
          a(target='_blank', href='#') Google Plus
        li.youtube
          a(target='_blank', href='#') YouTube
    // [/Responsive social-bookmarks]
    #wrap-wide
    // [/wrap-wide]
    #menu-wrap
      #menu
        a#logo(title='Mobaking: There\'s only one King', href='/')
          img(src='../images/mobaking_logo.png', height='122', width='215', alt='Logo')
        // [/logo]
        #nav.jqueryslidemenu
          ul#menu-main.menu
            li
              a(href='#')
                | Elements
                span Special elements
              ul.sub-menu
                li
                  a(href='sc-google-map.html') Google Map
                li
                  a(href='sc-pricing-table.html') Pricing Tables
                li
                  a(href='sc-button-generator.html') Button Generator
                li
                  a(href='sc-special-boxes.html') Special Boxes
                li
                  a(href='sc-slideshow-and-tab.html') Slideshow & Tab
                li
                  a(href='sc-accordions-toggle.html') Accordions , Toggle
                li
                  a(href='sc-video.html') Video
                li
                  a(href='sc-layouts.html') Layouts
                li
                  a(href='sc-other-elements.html') Other Elements
            li
              a(href='#')
                | Pages
                span Check Elegant Pages
              ul.sub-menu
                li
                  a(href='pages-faq.html') FAQ
                li
                  a(href='pages-contact.html') Contact Page
                li
                  a(href='pages-about-team.html') About / Team
                li
                  a(href='pages-full-width-page.html') Full Width Page
                li
                  a(href='pages-services.html') Services
                li
                  a(href='pages-tabular-data.html') Tabular Data
                li
                  a(href='pages-left-sidebar.html') Left Sidebar Page
                li
                  a(href='pages-sitemap.html') Sitemap Page
                li
                  a(href='pages-404.html') 404 Page
            li
              a(href='#')
                | Portfolio
                span Filterable & Paged
              ul.sub-menu
                li
                  a(href='#') Classic
                  ul.sub-menu
                    li
                      a(href='portfolio-classic-1col.html') Portfolio 1 Column
                    li
                      a(href='portfolio-classic-2col.html') Portfolio 2 Columns
                    li
                      a(href='portfolio-classic-3col.html') Portfolio 3 Columns
                    li
                      a(href='portfolio-classic-4col.html') Portfolio 4 Columns
                li
                  a(href='#') Filterable
                  ul.sub-menu
                    li
                      a(href='portfolio-filterable-1col.html') Filterable 1 Column
                    li
                      a(href='portfolio-filterable-2col.html') Filterable 2 Column
                    li
                      a(href='portfolio-filterable-3col.html') Filterable 3 Column
                    li
                      a(href='portfolio-filterable-4col.html') Filterable 4 Column
            li
              a(href='blog.html')
                | Blog
                span Unlimited Blogs
              ul.sub-menu
                li
                  a(href='blog-full-Width.html') Full Width Blog
                li
                  a(href='blog-post-Formats.html') Post Formats
                li
                  a(href='blog-full-Width-Post.html') Full Width Post
            li
              a(href='#')
                | Shop
                span Special Shop Pages
              ul.sub-menu
                li
                  a(href='shop-index.html') Shop Home
                li
                  a(href='shop-full-width.html') Full Width
                li
                  a(href='shop-single.html') Single
            li
              a(href='#')
                | Purchase
                span Grab Your Copy!
        .menu-main-container
          ul#main-menu.menu
            li
              a(href='#') Elements
              ul.sub-menu
                li
                  a(href='sc-google-map.html') Google Map
                li
                  a(href='sc-pricing-table.html') Pricing Tables
                li
                  a(href='sc-button-generator.html') Button Generator
                li
                  a(href='sc-special-boxes.html') Special Boxes
                li
                  a(href='sc-slideshow-and-tab.html') Slideshow & Tab
                li
                  a(href='sc-accordions-toggle.html') Accordions , Toggle
                li
                  a(href='sc-video.html') Video
                li
                  a(href='sc-layouts.html') Layouts
                li
                  a(href='sc-other-elements.html') Other Elements
            li
              a(href='#') Pages
              ul.sub-menu
                li
                  a(href='pages-faq.html') FAQ
                li
                  a(href='pages-contact.html') Contact Page
                li
                  a(href='pages-about-team.html') About / Team
                li
                  a(href='pages-full-width-page.html') Full Width Page
                li
                  a(href='pages-services.html') Services
                li
                  a(href='pages-tabular-data.html') Tabular Data
                li
                  a(href='pages-left-sidebar.html') Left Sidebar Page
                li
                  a(href='pages-sitemap.html') Sitemap Page
                li
                  a(href='pages-404.html') 404 Page
            li
              a(href='#') Portfolio
              ul.sub-menu
                li
                  a(href='#') Classic
                  ul.sub-menu
                    li
                      a(href='portfolio-classic-2col.html') Portfolio 1 Column
                    li
                      a(href='portfolio-classic-2col.html') Portfolio 2 Columns
                    li
                      a(href='portfolio-classic-3col.html') Portfolio 3 Columns
                    li
                      a(href='portfolio-classic-4col.html') Portfolio 4 Columns
                li
                  a(href='#') Filterable
                  ul.sub-menu
                    li
                      a(href='portfolio-filterable-1col.html') Filterable 1 Column
                    li
                      a(href='portfolio-filterable-2col.html') Filterable 2 Columns
                    li
                      a(href='portfolio-filterable-3col.html') Filterable 3 Columns
                    li
                      a(href='portfolio-filterable-4col.html') Filterable 4 Columns
            li
              a(href='#') Blog
              ul.sub-menu
                li
                  a(href='blog-full-width-2.html') Full Width Blog
                li
                  a(href='blog-post-formats-2.html') Post Formats
                li
                  a(href='blog-full-width-post-2.html') Full Width Post
            li
              a(href='#') Shop
              ul.sub-menu
                li
                  a(href='shop-index.html') Shop Home
                li
                  a(href='shop-full-width.html') Full Width
                li
                  a(href='shop-single.html') Single
            li
              a(href='#') Purchase
        span#menu-toggle menu toggle
    // [/menu]
    script(type='text/javascript').
      jQuery(document).ready(function () {
      jQuery.supersized({
      // Functionality
      slide_interval          :   10000,    // Length between transitions
      transition              :   1,      // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
      transition_speed    : 1000,
      keyboard_nav            :   1,
      // Speed of transition
      // Components
      slide_links       : 'blank',  // Individual links for each slide (Options: false, 'num', 'name', 'blank')
      slides          :   [     // Slideshow Images
      {image : 'images/backgrounds/#{currentGame}/1.jpg',  thumb : 'images/backgrounds/#{currentGame}/1.jpg', url : ''} ,
      {image : 'images/backgrounds/#{currentGame}/2.jpg',  thumb : 'images/backgrounds/#{currentGame}/2.jpg', url : ''} ,
      {image : 'images/backgrounds/#{currentGame}/3.jpg',  thumb : 'images/backgrounds/#{currentGame}/3.jpg', url : ''} ,
      {image : 'images/backgrounds/#{currentGame}/4.jpg', thumb : 'images/backgrounds/#{currentGame}/4.jpg', url : ''} ,
      {image : 'images/backgrounds/#{currentGame}/5.jpg', thumb : 'images/backgrounds/#{currentGame}/5.jpg', url : ''}]
      });
      }
      );
    a#scrollup(href='#') Scroll
    // [/scrollup]
    #progress-back.load-item
      #progress-bar
    // [/Time Bar]
    #thumb-tray.load-item
      #thumb-back
      #thumb-forward
    // Slide captions displayed here
    #slidecaption
    #controls-wrap.load-item
      a#nextslide.load-item
      a#play-button
        img#pauseplay(data-retina='true', alt='', src='images/slider/pause.png')
      a#prevslide.load-item
      p.copyright Powered by Mobaking team. All rights reserved.
      a#tray-button
        img#tray-arrow(data-retina='true', src='images/slider/button-tray-up.png')
      a#shutdown(href='#') ShutDown
